*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body{
  background: rgb(220, 220, 220);
}

header{
  z-index: 1;
  position:fixed; 
  width:100%;
  background:rgba(0,0,0,0.1);
}

header a{
  color:white;
  background:rgba(0,0,0,0.1); 
  display:inline-block; 
  padding:0px 30px; 

  line-height:60px; 
  text-align:center;
  font-family: 'Roboto Slab', serif; 
  text-decoration:none;
  text-transform:uppercase; 
  letter-spacing:2px; 
  font-weight:700;
}
.hero{
  background: linear-gradient( rgba(0, 0, 0, 0.184),  rgba(0, 0, 0, 0.600)), url("https://wallpapercave.com/wp/wp3913041.jpg");
  filter: alpha (opacity = 40);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.600);
	height: 55vh;
}

:root {
  --default-hero-gradient: linear-gradient(rgba(17, 5, 33, 0.3), rgba(17, 5, 33, 0.8));
}

.hero{
  display: flex;
  align-content: center; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}

.hero h1, .hero p{ 
  display: flex;
  align-content: center; 
  justify-content: center;
  align-items: center;
  color:#fff;
}

.content h1, .content p{
  color:#333;
}

/*SEZIONE COLONNE*/

.section2{
  margin: auto;
  width: 100%;
}

.container-fluid{
  margin-top: 8%;
  margin-bottom: 8%;
}

.carre{
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
display: flex;
align-items: center;
align-content: center;
justify-content: center;
}

.carre:hover{
  transform: scale(1.1);
}

.riga{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  width: 100%;
}

div.circle{
  border-radius: 10000px;
  border: 1px solid black; 
  height: 100px; 
  width: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  background-color: white;
  padding: auto;
}

div.circle1{
  background: linear-gradient( rgba(0, 0, 0, 0.184),  rgba(0, 0, 0, 0.252)), url("https://tse4.mm.bing.net/th?id=OIP.XDd2OZF1eduYi0RvOFWBugHaE7&pid=Api&P=0");
  filter: alpha (opacity = 40);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.circle2{
  background: linear-gradient( rgba(0, 0, 0, 0.184),  rgba(0, 0, 0, 0.252)), url("https://b2600862.smushcdn.com/2600862/wp-content/uploads/2022/11/Storia-mondiali-calcio-1140x651.jpg?lossy=1&strip=1&webp=0");
  filter: alpha (opacity = 40);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.circle3{
  background: linear-gradient( rgba(0, 0, 0, 0.184),  rgba(0, 0, 0, 0.252)), url("https://tse3.mm.bing.net/th?id=OIP.yQ9aZh8SBKkkGhFcPVfYPAHaEz&pid=Api&P=0");
  filter: alpha (opacity = 40);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.circle4{
  background: linear-gradient( rgba(0, 0, 0, 0.184),  rgba(0, 0, 0, 0.252));
  filter: alpha (opacity = 40);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carre h4{
  text-align: center;
  padding: auto;
  margin-top: 20%;
  color: white;
}

.pulsante{
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.pulsante:hover{
  color: black;
}

.carre button{
  border-radius: 10px;
  display: flex;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 10%;
  padding-right: 10%;
  padding: auto;
  margin-top: 20%;
}

.carre button:hover{
 transform: scale(1.2);
 box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
}

.one{
  background-image: linear-gradient(61deg,#ff0090 0%,#ff6b00 100%);
}

.two{
  background-image: linear-gradient(340deg,#7500ff 0%,#ff00e0 100%);
}

.three{
  background-image: linear-gradient(324deg,#0053ff 0%,#9a00ff 100%);
}

.four{
  background-image: linear-gradient(39deg,#0066ff 0%,#00ffd0 100%);
}

.contenuto{
  display: block;
  padding: auto;
}
