.body{
    background: linear-gradient( rgba(0, 0, 0, 0.250),  rgba(0, 0, 0, 0.250)), url(https://wallpapercave.com/wp/wp3913041.jpg);
    filter: alpha (opacity = 40);
}

div.container.square{
    margin-top: 5%;
    left: 20%;
    right: 121px;
    padding:auto;
    background: rgba(0, 0, 0, 0.296);
    height:550px;
    display: block;
    display: flex;
    flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
border-radius: 30px;
}

/*START*/
#start h2{
    color: white;
}

#start button{
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    border: solid rgba(255, 255, 255, 0.579) 0.5px;
    color: white;
    background-image: linear-gradient(61deg,#6e45e2 0%,#55a19d 100%);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
}

#start button:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
}


/*QUIZ*/

div.circle{
    border-radius: 100px;
    box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
    height: 60px; 
    width: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(223, 223, 223);
    padding: auto;
    z-index: 3;
}

div.question{
    border-radius: 30px; 
    height: 90px; 
    width: 70%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 0%;
    margin-top: -6%;
    background-color: white;
    padding: auto;
    z-index: 0;
    box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
}

.r{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

div.sectionreponses{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
}

div.reponseone{
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin:20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(61deg,#ff0090 0%,#ff6b00 100%);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
}

div.reponsetwo{
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin:20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(340deg,#7500ff 0%,#ff00e0 100%);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
}

div.reponsethree{
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin:20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(324deg,#0053ff 0%,#9a00ff 100%);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
}

div.reponsefour{
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin:20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(39deg,#0066ff 0%,#00ffd0 100%);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
}

div.reponseone:hover{
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
}

div.reponsetwo:hover{
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
}

div.reponsethree:hover{
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
}

div.reponsefour:hover{
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
}

.f{
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 2%;
    width: 90%;
}



.buttons{
    margin-top: -60px;
    color: white;
    height: 40px;
}

.buttons:hover{
    transform: scale(1.2);
}

#principal{
    display: none;
}

#final{
    display: none;
}

.image{
    height: 25%;
    width: auto;
    margin-bottom: 2%;
}

#final{
    color: white;
}

#final hr{
    width: 10%;
    margin-bottom: 0.1%;
    margin-top: 0.1%;
}

.total {
    font-size: 150%;
}

#score{
    margin-top: 1%;
    margin-bottom: 0.5%;
    font-size: 150%;
}

#comment{
    margin-top:1% ;
}

#final button{
    width: 100%;
    height: 55%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
    border: solid rgba(255, 255, 255, 0.579) 0.5px;
    color: white;
    background-image: linear-gradient(61deg,#6e45e2 0%,#55a19d 100%);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
}

#final button:hover{
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
}

.rigaa{
        display: flex;
        align-items: center;
        align-content: center;
        width: 30%;
        gap: 55;
        height: 15%;
    }    

    #final a{
        color: white;
        text-decoration: none;
    }